
.immo .immo-title{
    font-family: 'RobotoSlab-Bold';
    font-size: 40px;
    color: var(--sk-orange);
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 50px;
}
.immo .immo-content{
    height: 500px;
    color: var(--sk-orange);
    background-size: cover;
    background: url('./assets/banner3.jpg');
}
#immo .immo-section2{
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    color: var(--sk-white);
    
}
#immo .input-group-text{
    background-color: var(--sk-greenLight);

}
#immo .til{
    font-weight: bold;
}
#immo .immo-head{
    background-color: ghostwhite;
}

@media only screen and (min-width: 768px ) {
    #immo .immo-section2 .immo-couvre1{
        width: 22%;
        height: 200px;
        background: url('./assets/fot4.jpg');
    }
    #immo .immo-section2 .immo-couvre2{
        width: 22%;
        height: 200px;
        background: url('./assets/fot5.jpg');
    }
    #immo .immo-section2 .immo-couvre3{
        width: 22%;
        height: 200px;
        background: url('./assets/fot8.jpg');
    }
    #immo .immo-section2 .immo-couvre4{
        width: 22%;
        height: 200px;
        background: url('./assets/fot7.jpg');
    }
}
