.p-fot1{
    padding: 0!important;
    border-top-left-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}
.imag{
    border-bottom-left-radius: 30px!important;
    border-top-left-radius: 30px!important;
}
.p-fot2{
    width: 50%!important;
}
.p-tof3{
    border-top-right-radius: 15px!important;
}
.p-fot3{
    width: 50%!important;
}
.p-fot4{
    width: 50%!important;
    
}
.p-fot5{
    width: 50%!important;
}
.p-tof5{
    border-bottom-right-radius: 15px!important;
}

