#business .tex-title{
    font-weight: bold!important;
    color: var(--sk-orange);
}
.btn-command{
    background-color: var(--sk-orange)!important;
    margin: 12px 0;
}
.tex{
    color: var(--sk-greenLight);
    font-weight: bold;
}