.formulaireI{
    background-color: rgb(255, 216, 143);
}
.formulaire-content{
    width: 100%;
}
.formu{
    border: 1px solid orange;
    border-radius: 8px;;
    padding: 20px;
}
.get-started-icon-card {
    font-size: 26px;
    font-weight: bold;
    /* background: var(--sk-orange);  */
    padding: 2px 5px;
    color: #397654!important;
    border: 1px solid #397654!important;
    border-radius: 50%;
    position: relative;
    z-index: 5; 
}
.formu-left{
    width: 48%;
}
.formu-right{
    width: 48%;
}
.bouton{
    background: #69da9c!important;
}
.bouton:hover{
    background-color: #fff!important;
    color: #397654!important;
    border: 1px solid #397654;
}
.txte{
    cursor: pointer;
    
}
