.appart-details {
    width: 90%;
    margin: 80px auto 30px auto;
}

.appart-details .head {
    padding: 2%;
}
.appart-details .info {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 10px 0px;
}
.appart-details .info .star {
    vertical-align: baseline;
}
.appart-details .info span {
    margin-right: 20px;
}
.appart-details .poster img {
    display: block;
    width: 100%;
}
.appart-details .thumbnails {
    display: none;
}
.appart-details .price {
    text-align: right;
    padding-right: 5%;
}
.appart-details .body h2, .appart-details .body h3 {
    margin: 0px;
    margin-top: 20px;
}
.appart-details .body h3 {
    font-weight: bold;
    color: #00B67A;

}



@media screen and (min-width: 768px) {
    .appart-details .images {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .appart-details .poster {
        flex: 1;
    }
    .appart-details .thumbnails {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
    }
    .appart-details .thumbnails img {
        display: block;
        width: 47%;
        margin: 5px;
    }
    .appart-details .body {
        display: flex;
        justify-content: space-between;
    }
    .appart-details .price {
        padding-right: 0px;
    }
    .img-detail:hover{
        filter: contrast(0.7);
    }
}