/*-----immobilier section ----*/
  /* .home .home-immo{
    
  } */
  /* .home .h-immo-card{
    position: relative;
    color: var(--sk-white)!important;
    width: 25%;
    height: 100%;
    border-radius: 8px;
    background-image: url('./assets/images-immo/imo2.jpg');
    background-size: cover;
  } */
  .home .immo-card1{
    position: relative;
    color: var(--sk-white)!important;
    height: 350px;
    background-image: url('./assets/images-immo/imo5.jpg');
    background-size: cover;
    border-radius: 8px;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    background-position: 50% 50%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .home .immo-card1:hover{
    background-size: 110%;
  }
  .home .immo-card2{
    position: relative;
    color: var(--sk-white)!important;
    height: 350px;
    background-image: url('./assets/images-immo/imo5.jpg');
    background-size: cover;
    border-radius: 8px;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    background-position: 50% 50%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .home .immo-card2:hover{
    background-size: 110%;
  }
  .home .h-immo-content{
    position: absolute;
    bottom: 0;
    background-position: center;
    text-align: left;
    font-weight: bolder;
  }
  .home .uniform .m-5{
    margin: 2rem!important;
  }