/*--styling services--*/
.formation #services{
    position: relative;
    background-image: linear-gradient(30deg, rgba(121, 110, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%);
    background-size: cover;
    }
    .formation #services .section-heading{
        color: var(--sk-white);
        margin: 0 25px;
        padding: 0 45px 25px 45ps;
      
        text-align: center;
    }
    .formation #services .row1,.row2{
      color: var(--sk-white);
      margin: 0px 25px;
      padding: 0px 45px;
      text-align: center;
    }
    
    .formation .more-btn{
    padding: 7px 45px;
    border: 1px solid var(--sk-green);
    color: var(--sk-green);
    border-radius: 50px;
    }
    .formation .more-btn:hover{
    background-color: #3D9828;;
    color: var(--sk-white);
    }
    .formation .section-heading{
    color: var(--sk-white);
    margin: 0 25px;
    padding: 0 45px 25px 45ps;
    text-align: center;
    }
    .formation .row1,.row2{
      color: var(--sk-white);
      margin: 0px 25px;
      padding: 0px 45px;
      text-align: center;
    }
    