.appart-min {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 30px;
    font-size: 1.1em;
    transition: all 0.5s ease-out;
    /* border: 1px solid #000; */
}
.appart-min:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.appart-min img {
    display: block;
    width: 100%;
    border-radius: 15px;
}
.appart-min .line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2px 2%;
}

@media screen and (min-width: 768px) {
    .appart-min {
        margin-right: 20px;
    }
}

