/**
* 
* Template
* Author: BlackCoders
*/

/*-------------------------------------------------------------
root
--------------------------------------------------------------*/
:root{
  --sk-green: #00a654;
  --sk-greenhover:#048d48;
  --sk-orange: #f79323;
  --sk-black: #000;
  --sk-gray: rgba(22,22,22,0.7);
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--sk-vert);
  text-decoration: none;
}

a:hover {
  color: var(--sk-vert);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f2f9f8;
}

.section-title {
  padding-bottom: 40px;
  text-align: center;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #21413c;
}
.section-title p {
  margin-bottom: 0;
}





/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}
.services .icon-box:hover {
  box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
}
.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box-pink .icon i {
  color: #ff689b;
}
.services .icon-box-cyan .icon i {
  color: var(--sk-vert);
}
.services .icon-box-green .icon i {
  color: #41cf2e;
}
.services .icon-box-blue .icon i {
  color: #2282ff;
}
