


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  #footer .footer-top {
    background: #0c1817;
    border-bottom: 1px solid orange;
    padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1c3733;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: var(--sk-green);
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding: inherit;
    padding-bottom: 12px;
    padding-left: 0;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--sk-green);
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
  #footer .logo{
    width: 55px;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: var(--sk-green);
  }
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
}
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: none;
    padding: 4px;
    width: calc(100% - 110px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--sk-green);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  #footer .footer-top .footer-newsletter form input{
    outline: none;
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: var(--sk-greenhover);
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  #footer .logo{
    color: var(--sk-orange);
  }
  #footer .fot-link:hover{
      color: var(--sk-orange);
  }
  #footer .lite{
    text-align: left;
  }
   
  @media only  screen and (max-width: 768px) {
    #footer .footer-info,.footer-links{
      text-align:  center;
    }
    #footer ul li a{
      text-align: center;
    }
    #footer .footer-top .footer-links ul li {
      padding: 0 0;
      display: block;
      align-items: center;
    }
    #footer .footer-top h4{
      color: var(--sk-orange);
      text-align: center;
   }
   #footer .lite{
     text-align: center;
   }
    
  }