.academy-banner{
    width: 100%;
    height: 500px;
    display: block;
}
.title-academy{
    position: absolute!important;
    z-index: 1000!important;
    top: 100px!important;
}
.tex1{
    font-weight: bold;
    font-size: 70px;
    color: antiquewhite;
}
.tex2{
    font-size: 40px;
    color: antiquewhite!important;
    font-weight: bold;
}
.tex3{
    font-size: 40px;
    font-weight: bold;
    color: rgb(241, 103, 177)!important;
}