.crypto .banner{
    width: 100%;
}
.trad{
    background-color: #f2f9f8;
}
.ligne-c{
    height: 3px!important;
    color: orangered;
    margin: 0 auto;
}
.trade{
    display: block;
    margin: 0 auto 10px auto;
    padding: 5px auto;
    background: yellowgreen;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('./assets/bg.jpg');
}
.trade .trade-left{
    width: 95%;
    margin: auto;
    text-align: center;
}
.trade .trade-right{
    display: none;
}
.crypto dt{
    color: white;
}
.crypto dd{
    font-weight: bolder;
    color:rgb(37, 37, 2)
}

.crypto .btn-crypto{
    padding: 6px 15px;
    background: var(--sk-orange);
    border: 1px solid var(--sk-white);
    color: var(--sk-white);
    font-style: 20px;
    border-radius: 50px;
}
.crypto .btn-crypto:hover{
    background-color: rgb(110, 148, 36);
    border: 1px solid rgb(110, 148, 36) ;
}
/*---styling buy and sell---*/
.crypto .target{
    background-color: #f2f9f8;
}
.crypto .target-form{
    display: block;
    width: 100%;
    padding: 10px 15px;
}
.crypto .target-form .target-left{
    width: 100%;
    padding: 0 15px;
}
.crypto .target-form .target-right{
    width: 100%;
    display: block;
}
.crypto .target-form .target-right .target-right-head{
    display: none;
}
.crypto .target-form .target-right .target-right-body{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
}
.crypto .target-right-body .img-logo{
    width: 25px;
} 
.crypto .target-buy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 35px;
    color: var(--sk-white)!important;
    background-color: yellowgreen;
}
.crypto .target-buy:hover{
    transform: translateY(-4px);
}
.crypto .target-sell{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 35px;
    color: var(--sk-white);
    background-color: var(--sk-orange);
}
.crypto .target-sell:hover{
    transform: translateY(-4px);
}

/*---design credit card-----*/
.crypto .credit{
    width: 100%;
    background-color: var(--sk-orange);
    display: flex;
    flex-direction: column;
}
.crypto .credit-title{
    text-align: center;
    margin: 10px;
    background-color: var(--sk-greenLight);
    
}
.crypto .credit-title:hover{
    background-color: #63bb7f!important;
}
.crypto .credit-card{
    display: flex;
    margin: 15px;
    width: 85%;
    justify-content: center;
}
.crypto .text-title{
    padding: 7px 15px;
}
.crypto .credit-card img{
    width: 100%!important;
}
.btn-credit{
    width: 100%;
    text-align: center;
}
.crypto .partners{
    position: relative;
}
.crypto .partners .partner-container{
    display: flex;
    margin: 25px 0;
    overflow: hidden;
}
.crypto .partners .partner-container img{
    margin: 10px 50px 6px 30px;
    width: 60px;
    animation: cryptoRoll 20s linear 0s infinite normal backwards;
}
/* .crypto .partners .partner1{
    width: 100px; 
} */

@keyframes cryptoRoll {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-1216px);
        
    }
}

/*-------------site grand ecran-------------*/
@media (min-width: 992px) {
    .btn-crypto2{   
    padding: 6px 15px!important;
    background: var(--sk-orange)!important;
    color: var(--sk-white)!important;
    font-style: 20px!important;
    }
    .crypto .banner-content{
        width: 100%;  
    }
    .crypto .banner{
        width: 100%;
        margin: 0 auto 20px auto;
        border-bottom-right-radius: 8px ;
        border-bottom-left-radius: 8px;
        border-radius: 10px; 
    }   
    .trade{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 30px;
    }
    .trade .trade-left dl{
        padding-left: 35px;
    }
    .trade .trade-right{
        width: 45%;
        height: 350px;
        background: url('./assets/tof3.jpg');
        margin-left: 5%;
        margin-right: 5%;
        display: block;
        background-position: center;
        border-radius: 10px;
        background-size: 100%;
        transition: all 0.4s;
        
    }
    .trade .trade-right:hover{
        background-size: 110%;
    }
    .trade .trade-left{
        width: 55%;
        text-align: left;
    }
    /*--styling buy and sell--*/

    .crypto .target-img1{
    background-image: url('./assets/crypt6.jpg');
    border-radius: 8px;
    height: 200px;
    /* background: no-repeat; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    }
    .crypto .target-img2{
    background-image: url('./assets/crypt1.jpg');
    border-radius: 8px;
    height: 200px;
    /* background: no-repeat; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    }
    .crypto .target-img1:hover{
        background-size: 110%;
    }
    .crypto .target-img2:hover{
        transform: scale3d(0.1);
    }
    .crypto .target-bg{
        height: 100%;
    }
    .crypto .target-bg:hover{
        background-size: 110%;
    }
    .crypto .target .btn{
        box-shadow: none;
    }
    .crypto .target .btn:hover{
        transform:translateY(-4px);
    }
    .crypto .partners .partner-container img{
        margin: 0px 80px 10px 80px;
        width: 120px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) ;
        
    }
    .crypto .partners .partner-container img:hover{
        opacity: 0.9;
        filter: brightness( 100% ) contrast( 100% ) saturate( 10% ) ;
    }
    .crypto .partners .partner-container{
        display: flex;
        margin: 30px 0 20px 0;
        overflow: hidden;
    }

    @keyframes cryptoRoll {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-2220px);
        }
    }
    /*---styling credit card------*/
    .crypto .credit{
        width: 100%;
        flex-direction: row;
        margin: 40px 0 0 0;
        padding: 25px;
        justify-content: space-around;

    }
    .crypto .credit-card{
        padding-top: 0;
    }
    .crypto .credit .credit-left {
        width: 40%;
        padding: 0 25px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .crypto .credit .credit-right{
        width: 45%;
        padding: 25px;
    }

}
